<div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="10px">
  <div fxFlex="35" fxFlex.gt-sm="14" class="block bigBlock" fxLayout="column" fxLayoutAlign="center center">
    <span>+</span>
  </div>
  <div fxFlex="60" id="right" fxLayout="row break" fxLayout.gt-sm="row"  fxLayoutAlign="space-between start">
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
    <div fxFlex="30" fxFlex.gt-sm="16" class="block" fxLayoutAlign="center center">
      <mat-icon>photo_camera</mat-icon>
    </div>
  </div>
</div>
