
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}


/*
    has to be here because of this:
    https://github.com/angular/material2/blob/master/guides/customizing-component-styles.md#styling-overlay-components
*/

.custom-dialog-container .mat-dialog-container {
    padding: 24px 12px 12px;
    min-width: 320px;
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
}

@media (max-height: 560px) {
    .custom-dialog-container .mat-dialog-container {
        padding: 2px 2px 2px;
    }
}

.custom-snack-bar-container.mat-snack-bar-container {
    max-width: 100%;
}
