<mat-toolbar>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="start stretch">
      <button mat-button routerLink="/" fxFlex="10">
          <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div fxFlex="90" id="headline"></div>
  </div>
</mat-toolbar>

<p>
    {{'AddingMoment.Add_Image' | translate}}
</p>
<div class="container">
  <fampedia-new-moment-images [title]="false"></fampedia-new-moment-images>
</div>

<div class="buttons" *ngIf="showButton">
  <button (click)="add()">{{'AddingMoment.Add' | translate}}</button>
</div>
