#header {
    overflow: hidden;
    height: 300px;

    span {
        display: block;
        position: relative;
        text-align: center;
        font-size: 300%;
    }

    span:not(.blur) {
      color: white;
      margin-top: -59px;
      mix-blend-mode: difference;
    }

    span.blur {
        background: inherit;
        background-clip: border-box;
        filter: blur(25px) grayscale(1) contrast(15);
        color: transparent;
        width: 814px;
        margin: 250px auto 0;
    }

}

#menu {
    margin-bottom: 15px;
}

#description {
    margin-bottom: 10px;
}

.row {
    text-align: center;
}