img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name {
    color:  white;
    mix-blend-mode: difference;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 0.7em;
    height: 0.7em;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.72em;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

#menu {
    margin-bottom: 15px;
}

#description {
  margin-bottom: 10px;
}

.row {
    text-align: center;
  }