<div class="row">
  <div class="col-xs-12" id="header" [ngStyle]="{'background': 'url(' + recipe.imagePath + ') 50%/ contain'}">
    <span contentEditable class="blur">{{ recipe.name }}</span>
    <span contentEditable role='textbox' aria-multiline='true'>{{ recipe.name }}</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="menu">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        <a [routerLink]="['/recipes']">Recipe</a>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" [routerLink]="['/recipes', id, 'edit']">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="description">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>