@import "~styles.scss";
@import "../styles/helperMixins.scss";
@import "../styles/theme.scss";

.headerContainer {
  height: 66px;
  width: 90%;
  background: white;
  margin: auto;

  @include forType(gt-md) {
    height: 108px;
  }
}

menu {
  padding: 12px 0;
  margin: 0 15px;
  background: white;

  a {
    @include clickable() {
      border-bottom: 2px solid rgb(18, 27, 42);;
      color: cP(100);
    }

    text-decoration: none;
    color: inherit;
    padding: 5px 0;
    margin: 0 3px;
    text-align: center;
    border-bottom: 2px solid rgba(18, 27, 42, 0.7);;
  }

  a.selected {
    border-bottom: 2px solid cP(100);
    color: cP(100);
  }
}
