<fampedia-navbar></fampedia-navbar>

<div class="headerContainer">
  <fampedia-tool-header></fampedia-tool-header>
</div>

<menu fxLayout="row">
  <a fxFlex="25" (click)="setComp('timeline')"> For You </a>
  <a fxFlex="25" [ngClass]="{'selected': comp === 'timeline'}" (click)="setComp('timeline')"> Timeline </a>
  <a fxFlex="25" [ngClass]="{'selected': comp === 'news'}" (click)="setComp('news')"> News </a>
  <a fxFlex="25" [ngClass]="{'selected': comp === 'archive'}" (click)="setComp('archive')"> Archive </a>
</menu>

<div [ngSwitch]="comp">
  <fampedia-timeline *ngSwitchCase="'timeline'"></fampedia-timeline>
  <fampedia-news *ngSwitchCase="'news'"></fampedia-news>
  <fampedia-archive *ngSwitchCase="'archive'"></fampedia-archive>
</div>