.timeline {
  width: 90vw;
  margin: auto;

  #left,
  #right {
    display: block;
  }

  #right {
    direction: rtl;
  }

  #line {
    border-right: 2px solid #acacac66;
    transform: translateX(calc(-1vw + 2px));
  }
}
