
.timeline {
    width: 90vw;
    margin: auto;

    #left,
    #right {
        display: block;
    }

    #right {
        direction: rtl;
    }

    #line {
        border-right: 1px solid #acacac;
        transform: translateX(-44%) scaleY(3);
        z-index: -1;
    }
}