.timeline {
    width: 90vw;
    max-width: 900px;
    margin: auto;

    #left,
    #right {
        display: block;
    }

    #right {
        direction: rtl;
    }

    #line {
        background: #acacac66;
    }
}


.noTimeline {
    width: 90vw;
    margin: auto;

    span {
        text-align: center;
        margin: 10px 0;
        opacity: 0.9;
    }

    button {
        background: white;
        border: 1px solid black;
        border-radius: 30px;
        max-width: 50% !important;
        outline: 0;
    }
}