<p>
  Moment’s are worth to remind dates. <br>
  You can upload whatever feels important to you and share it with your loved ones!
</p>


<table>
  <tr>
    <td> <span>What?</span> </td>
    <td> <input type="text" placeholder="Wedding"> </td>
  </tr>
  <tr>
    <td> <span>When?</span> </td>
    <td> <input type="text" placeholder="24 / 05 / 2011"> </td>
  </tr>
  <tr>
    <td> <span>Where?</span> </td>
    <td> <input type="text" placeholder="Restaurant"> </td>
  </tr>
  <tr>
    <td> <span>Who?</span> </td>
    <td>
      <fampedia-people-select></fampedia-people-select>
    </td>
  </tr>

</table>