p {
    margin: 15px auto;
    width: 800px;
    font-size: 110%;
    text-align: center;
    max-width: 90vw;
}

table {
    margin: auto;

    td {
        height: 50px;
    }

    span {
        margin-right: 15px;
        font-weight: bold;
    }

    input {
        border: 0;
        border-bottom: 1px solid black;
        width: 500px;
        max-width: 70vw;
    }

    input:focus {
        outline: none;
    }
}