<div fxLayout="row break" id="card">
  <div fxFlex="100" fxLayout="row break">
    <label for="name">Username</label>
    <input fxFlex="100" id="name" type="text" [(ngModel)]="username">
  </div>
  <div fxFlex="100" fxLayout="row break">
    <label for="passwd">Password</label>
    <input fxFlex="100" id="passwd" type="password" [(ngModel)]="password">
  </div>
  <div fxLayout="row break" fxLayoutGap="5px">
    <button fxFlex="calc(50% - 5px)" (click)="login()">Login</button>
    <button fxFlex="calc(50% - 5px)" routerLink="/register">Register</button>
    <button class="big" fxFlex="100" (click)="readonlyUser()">Request a Demo</button>
  </div>
</div>