<div (click)="goToEvent()">
  <div class="data" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}">
    <span>{{element.title}}</span>
    <span class="desc">{{element.desc}}</span>
  </div>
  <div class="imageWrapper">
    <img famImage [image]="'https://source.unsplash.com/200x200/?water,' + rand">
  </div>
</div>
<i class="line" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}"></i>
<i class="bubble" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}"></i>