<div (click)="goToMoment()">
  <div class="data" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}">
    <span>{{element.moment.title}}</span>
    <span class="small">{{element.moment.description}}</span>
    <span class="small">{{element.moment.date}}</span>
  </div>
  <div class="imageWrapper">
    <img famImage [lazy]="true" [imageId]="element.moment.images[0]">
  </div>
</div>
<i class="line" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}"></i>
<i class="bubble" [ngClass]="{'left': element.row == 'left', 'right': element.row == 'right'}"></i>