<div class="camera" *ngIf="mode === 'capture'">
  <video [width]="width" [height]="height" *ngIf="allowed" #video>Video stdeam not
    available.</video>

  <table class="buttons" *ngIf="allowed">
    <tr>
      <td>
        <button class="flipIcon" (click)="flipCamera()" *ngIf="frontCam && cameraSelect">
          <mat-icon>camera_rear</mat-icon>
        </button>
        <button class="flipIcon" (click)="flipCamera()" *ngIf="!frontCam && cameraSelect" >
          <mat-icon>camera_front</mat-icon>
        </button>
      </td>

      <td>
        <button (click)="takePicture()"></button>
      </td>

      <td>
        <button class="flipIcon" (click)="flash()" *ngIf="!frontCam && cameraSelect">
          <mat-icon>flash_on</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <h1 *ngIf="!allowed">You need a camera for this.</h1>

</div>
<canvas #canvas [width]="width" [height]="height"></canvas>
<img #pic [width]="width" [height]="height" [ngStyle]="{'display': mode === 'display' ? 'block' : 'none'}"
  alt="The screen capture will appear in this box.">

<div class="output" fxLayout="column break" fxLayoutAlign="center center" *ngIf=" mode === 'display'">
  <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
    <button fxFlex="50" (click)="addImage()">More</button>
    <button fxFlex="50" (click)="returnImages()">Done</button>
  </div>
</div>