<p>
  Would you like to add some media to help you remeber this moment?
</p>
<!-- <input type="file" accept="image/*" capture="environment"> -->

<div id="openCamera">
  <button (click)="takePicture = !takePicture">
    <mat-icon>photo_camera</mat-icon>
    Take Pic
  </button>
  <fampedia-moment-camera (output)="addImages($event)" *ngIf="takePicture"></fampedia-moment-camera>
</div>

<div class="fotogrid" *ngIf="!takePicture" fxLayout="row break" fxLayoutAlign="space-around start" fxLayoutGap="3px">
  <div class="imageContainer" *ngFor="let im of images" fxFlex="calc(25% - 3px)">
    <img famImage *ngIf="!im.data" [image]="'https://source.unsplash.com/100x100/?water,' + im.i">
    <img *ngIf="im.data" [src]="im.data">
  </div>
</div>