<div *ngIf="!takePicture" fxLayout="row break">
  <p fxFlex="100" *ngIf="title">
    {{'AddingMoment.Add_Image_Intro' | translate}}
  </p>
  <div fxFlex="100">
    <div id="openCamera" fxFlex="50" fxLayout="row break" fxLayoutAlign="space-around center">
      <button (click)="imageMode()" fxLayout="row break" fxLayoutAlign="center center">
        <mat-icon>photo_camera</mat-icon>
        {{'AddingMoment.Take_Pic' | translate}}
      </button>
    </div>

    <div id="folder" fxFlex="50" fxLayout="row break">
      <input type="file" id="file" (change)="uploadFile($event)" name="file" style="display:none" multiple />
      <button fxFlex="100" fxLayout="row break" fxLayoutAlign="center center">
        <label for="file" fxFlex="100" fxLayout="row break" fxLayoutAlign="center center">
          <mat-icon>collections</mat-icon>
          <div id="folderDropDown">
              {{'AddingMoment.Upload_Pics' | translate}}
          </div>
        </label>
      </button>
    </div>
  </div>

  <div class="fotogrid" fxLayout="row break" fxLayoutAlign="space-around start" fxLayoutGap="3px">
    <div id="noPics" *ngIf="images.length === 0">{{'AddingMoment.No_Pictures' | translate}}</div>
    <div class="imageContainer" *ngFor="let im of images; let idx = index" fxFlex="calc(25% - 3px)" fxLayout="row"
      fxLayoutAlign="end start" (click)="select(idx)">
      <div fxFlex="100">
        <img [src]="im.data">
      </div>
      <div class="selected" fxFlex="100" *ngIf="isSelected(idx)">✓</div>
    </div>
  </div>
</div>

<fampedia-moment-camera (output)="addImages($event)" *ngIf="takePicture"></fampedia-moment-camera>