<div *ngIf="!takePicture" fxLayout="row break">
  <p fxFlex="100">
    Would you like to add some media to help you remeber this moment?
  </p>
  <div fxFlex="100">
    <div id="openCamera" fxFlex="75px" fxLayout="row break" fxLayoutAlign="space-around center">
      <button (click)="takePicture = !takePicture">
        <mat-icon>photo_camera</mat-icon>
        Take Pic
      </button>
    </div>

    <div id="folder" fxFlex="calc(100% - 80px)">
      <span>Phone folder name</span>
      <div id="folderDropDown" fxLayout="row break" fxLayoutAlign="space-between center">
        <mat-icon>arrow_drop_down</mat-icon>
        Camera Pictures
      </div>
    </div>
  </div>

  <div class="fotogrid" fxLayout="row break" fxLayoutAlign="space-around start" fxLayoutGap="3px">
    <div class="imageContainer" *ngFor="let im of images; let idx = index" fxFlex="calc(25% - 3px)" fxLayout="row"
      fxLayoutAlign="end start" (click)="select(idx)">
      <div fxFlex="100">
        <img [src]="im.data">
      </div>
      <div class="selected" fxFlex="100" *ngIf="isSelected(idx)">✓</div>
    </div>
  </div>
</div>

<fampedia-moment-camera (output)="addImages($event)" *ngIf="takePicture"></fampedia-moment-camera>