<div class="background" fxFlex="100" fxLayoutAlign="center center">
  <div fxFlex="220px" class="container">
    <div class="book">
      <img src="../assets/images/book.png">
      <div class="hider">
        <svg height="200" width="400">
          <path d="M 25 73 C 59 74 101 78 125 114" fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
          <path d="M 25 73 C 59 74 101 78 125 114" transform="translate(0 30)" fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
          <path d="M 25 73 C 59 74 101 78 125 114" transform="translate(0 60)" fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
          
          <path d="M 25 73 C 59 74 101 78 125 114" transform="scale(-1 1), translate(-270 0) " fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
          <path d="M 25 73 C 59 74 101 78 125 114" transform="scale(-1 1), translate(-270 30)" fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
          <path d="M 25 73 C 59 74 101 78 125 114" transform="scale(-1 1), translate(-270 60)" fill="transparent" stroke="#50b996" stroke-width="10" stroke-linecap="round" />
        </svg>
      </div>
    </div>
    <img class="uploadIcon" src="../assets/images/uploadIcon.svg">
  </div>
</div>