<mat-toolbar *ngIf="showNavbar" [color]="config.color" [ngClass]="{'sticky': config.sticky}">
    <div fxLayout="row" fxLayoutAlign="start stretch">
        <!-- <button mat-button id="logo" fxFlex="none" (click)="clickAction({internalRoute: '/dashboard'})">
        </button> -->
        <button *ngFor="let button of config.buttons" mat-button (click)="clickAction(button.onClick)">
            {{'navbar.' + button.key | translate}}
            <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon>
        </button>
        <div fxFlex id="headline">{{config.headline}}</div>
        <div fxFlex="none">
            <div *ngFor="let helper of config.helpers" fxFlex="100">
                <button mat-button *ngIf="helper.key === 'translate'" [matMenuTriggerFor]="languageMenu"
                    [matTooltip]="'navbar.LANGUAGE_SWITCH' | translate" matTooltipShowDelay="700">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu xPosition="before" overlapTrigger="false" #languageMenu="matMenu">
                    <button mat-menu-item [disabled]="language==='en'" (click)="changeLanguage('en')">English</button>
                    <button mat-menu-item [disabled]="language==='de'" (click)="changeLanguage('de')">Deutsch</button>
                    <button mat-menu-item [disabled]="language==='pt'"
                        (click)="changeLanguage('pt')">Portuguese</button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>