.sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
}

mat-toolbar {
    z-index: 10000;
    overflow: hidden;
    height: 55px;
    background-color: white;
    color: black;
    padding-top: 12px;

    @media screen and (max-width: 599px) {
        height: 40px;
    }

    &>div {
        height: 100%;
        width: 100%;

        #headline {
            text-align: center;
            margin-left: -38px;
        }

        button {
            z-index: 10000;
            margin-top: -5px;
            height: 100%;
            min-width: 0px;

            @media screen and (max-width: 599px) {
                padding: 0 5px;
            }
        }
    }
}