<div id="header" (window:scroll)="update()">
  <div id="image" [ngStyle]="{'background-image': 'linear-gradient(12deg, rgb(0, 0, 0, 0.3), transparent),' + imageUrl}"> </div>
  <button id="back" mat-icon-button routerLink="">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <button id="add" mat-icon-button *ngIf="moment" [routerLink]="'/new/add/' + moment.momentId">
    <mat-icon>add</mat-icon>
  </button>
  <div>
    <div id="title" *ngIf="moment">
      <span>{{moment.title}}</span>
      <span>{{moment.description}}</span>
    </div>
  </div>


</div>

<menu>
  <a [routerLink]="['']">
    Photos
  </a>
  <a [routerLink]="['']">
    Visitors
  </a>
  <a [routerLink]="['']">
    Thread
  </a>
</menu>

<div class="dash" *ngIf="moment">
  <fampedia-grid-item [importance]="3" [imageId]="i" *ngFor="let i of moment.images"> </fampedia-grid-item>
</div>