p {
  margin: 15px auto;
  width: 800px;
  font-size: 110%;
  text-align: center;
  max-width: 90vw;
  color: rgba(0, 0, 0, 0.7);
}

span {
  font-size: 20px;
}

img {
  object-fit: contain;
  height: 82px;
  border-radius: 8px;
  overflow: hidden;
}
