@import "~styles.scss";
@import "../styles/helperMixins.scss";
@import "../styles/theme.scss";

.buttons {
  width: 100vw;

  button.nextBtn {
    @include clickable() {
      background: gray;
    }

    margin: 10px auto;
    background: cP(100);
    color: fP(100);
    font-size: 180%;
    border: none;
    width: 300px;
    max-width: 90vw;
    height: 50px;
    text-align: center;
    display: table;
  }
}

button:focus {
  outline: none;
}

mat-toolbar {
  background: white !important;
  color: black !important;
  user-select: none;

  div,
  button {
    height: 100%;
  }

  #headline {
    text-align: center;
    padding: 20px 70px 0 0;
    color: cP(100);
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}

$height: 4px;

.status {
  overflow: hidden;
  width: 99vw;

  .progress {
    height: $height;

    .line {
      background: lightgray;
      border-radius: 2px;
    }
  }
}

.bar {
  @include forType(lt-md) {
    top: 56px;
  }

  height: $height;
  position: absolute;
  top: 64px;
  width: calc(33% - 5px);
  background: black;
  transition: left 417.322ms cubic-bezier(0.55, 0.38, 0.28, 0.81);
}

.container {
  height: calc(100vh - 158px);
  overflow: auto;
}

.big {
  height: 100vh;
}
