@import "~styles.scss";
@import "../styles/helperMixins.scss";
@import "../styles/theme.scss";

button.nextBtn {
  @include clickable() {
    background: gray;
  }

  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  background: lightgray;
  font-size: 180%;
  border: none;
  width: 300px;
  max-width: 90vw;
  height: 50px;
  text-align: center;
}

button:focus {
  outline: none;
}

mat-toolbar {
  background: white !important;
  color: black !important;
  user-select: none;

  div,
  button {
    height: 100%;
  }

  #headline {
    text-align: center;
    padding-top: 15px;
  }
}

$height: 4px;

.status {
  overflow: hidden;
  width: 99vw;
  .progress {
    height: $height;

    .line {
      background: lightgray;
      border-radius: 2px;
    }
  }
}

.bar {
  @include forType(lt-md) {
    top: 56px;
  }
  height: $height;
  position: absolute;
  top: 64px;
  width: calc(33% - 5px);
  background: black;
  transition: left 417.322ms cubic-bezier(0.55, 0.38, 0.28, 0.81);
}
