@import "../../styles/helperMixins.scss";
@import "../../styles/theme.scss";

img {
  @include constrainImage(35px, 35px);
  overflow: hidden;
  border-radius: 50%;
}

.userlist {
  position: absolute;
  z-index: 30;
  max-height: 140px;
  overflow: auto;
  width: 170px;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 170px;
  max-width: 170px;
  min-width: 170px;
  background: white;
  margin-top: 37px;
  border-radius: 9px;
  border: 1px solid #c4c4c4;
}

.plus {
  background: #c4c4c4;
  height: 35px;
  border-radius: 50%;
}

input {
  border: none;
  border-radius: 60px;
  padding: 4px 10px;
  outline: none;
  background: #c4c4c4;
  height: 35px;
}

.noMatch {
  margin: 5px;
}
