<mat-toolbar>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <button mat-button routerLink="/login" fxFlex="10">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div fxFlex="90" id="headline">Create new Fampedia Account</div>
  </div>
</mat-toolbar>

<div fxLayout="row break" id="card">
  <div fxFlex="100" fxLayout="row break">
    <label for="family">Join Family</label>
    <input fxFlex="100" id="family" type="text" [(ngModel)]="family" (change)="checkFamilyName()">
  </div>
  <span fxFlex="100" *ngIf="!avaliable && family">
    Family doesn’t exist yet. New Family will be created.
  </span>
  <span fxFlex="100" *ngIf="avaliable && family">
    Family found. Ready to join.
  </span>
  <div class="spacer" fxFlex="100"></div>
  <div fxFlex="100" fxLayout="row break">
    <label for="email">E-Mail</label>
    <input fxFlex="100" id="email" type="email">
  </div>
  <div fxFlex="100" fxLayout="row break">
    <label for="un">Username</label>
    <input fxFlex="100" id="un" type="text" [(ngModel)]="username">
  </div>
  <div fxFlex="100" fxLayout="row break">
    <label for="pw">Password</label>
    <input fxFlex="100" id="pw" type="password" [(ngModel)]="password">
  </div>
  <span fxFlex="100" id="test">
    This is just a test.
    <br>
    Data might not be saved permanently.
  </span>
  <div fxFlex="100">
    <button (click)="register()">Register</button>
  </div>

</div>