@import "../../styles/helperMixins.scss";
@import "../../styles/theme.scss";

.comment {
    color: rgba(0, 0, 0, 0.75);
    width: 500px;
    max-width: 93vw;
    margin: 6px auto 0;

    div {
        border-bottom: 1px solid #0000004a;
        padding-bottom: 5px;

        .title {
            @include ellipsis(calc(100% - 95px));
            font-weight: bold;
        }
        
        .date {
            @include ellipsis(95px);
            opacity: 0.7;
            font-size: 11px;
            padding-top: 4px; 
            text-align: right;
        }
    }

    img {
        @include constrainImage(40px, 40px);
        border-radius: 50%;
        overflow: hidden;
        margin: 0 10px;
    }
}