@import "../../styles/helperMixins.scss";
@import "../../styles/theme.scss";

div.news {
    width: 800px;
    margin: 10px auto;
    max-width: 90vw;
    height: 110px;
    border-radius: 13px;
    overflow: hidden;
    background: #d6d6d6;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);

    .comment {
        height: 100%;


        img {
            @include constrainImage(57px, 57px, cover);
            overflow: hidden;
            border-radius: 50%;
        }

        div.data {
            padding: 25px 10px;
            height: 100%;

            .desc {
                font-weight: bold;
            }

            span {
                font-size: 12px;
            }

            .date {
                font-size: 10px;
            }
        }
    }

    .image {
        height: 100%;

        .imageWrapper {
            position: relative;
            height: 100%;
            widows: 100%;

            img {
                @include constrainImage(100%, 100%, cover);
                overflow: hidden;
                border-radius: 13px;
            }
        }

        div.data {
            padding: 40px 10px;
            height: 100%;

            .desc {
                font-weight: bold;
            }

            span {
                font-size: 12px;
            }

            .date {
                font-size: 10px;
            }
        }
    }
}