
<span class="fresh"> Fresh New</span>
<div class="side">
  <div class="placeholder">placeholder</div>
  <fampedia-side-scroll *ngFor="let i of importances"></fampedia-side-scroll>
</div>

<menu>
  <a [routerLink]="['/main']">
    MAIN
  </a>
  <a [routerLink]="['/recipes']">
    Recipes
  </a>
  <a [routerLink]="['/recipes']">
    Recipes
  </a>
  <a [routerLink]="['/recipes']">
    Recipes
  </a>
</menu>



<div class="dash">
  <fampedia-dashboard-grid-item [importance]="i" [itemId]="idx + 'id'" *ngFor="let i of importances; let idx = index">
  </fampedia-dashboard-grid-item>
</div>