div {
  padding: 50px;
}

.dash {
  padding: 0;
  display: flex;
  width: 900px;
  max-width: 95vw;
  min-width: 50vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50vh;
}
